.main-cont {
  height: 100vh;
}

.sign-in-main {
  width: 400px;
}

.field-in {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.field-in .header h1 {
  margin-bottom: 25px;
  color: #3d3d3d;
  font-weight: 700;
}

.field-in .header h5 {
  margin-bottom: 35px;
  color: #3d3d3d;
  font-weight: 600;
  font-size: 18px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .field-in .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.sign-in-inp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-inp input {
  height: 53px;
  border: 2px solid #3e3e3e;
  padding-left: 20px;
}

#input-name::placeholder {
  color: #3e3e3e;
  font-size: 17px;
  /* font-family: "bold"; */
  padding-left: 10px;
  /* Change this to the desired color */
}

.sign-in-inp .sign-in {
  display: flex;
  gap: 10px;
  align-items: center;
}
#Check-box {
  appearance: none;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  position: relative;
}
.sign-in-inp .sign-in #Check-box {
  width: 25px;
  height: 25px;
}
.sign-in .checkbox-label {
  line-height: 16px;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 600;
}
#Check-box:checked::before {
  content: "\2713";
  font-size: 16px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign-in-inp button {
  height: 53px;
  background-color: #3c3c3c;
  color: white;
}

.footer-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-sec .border-cont {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sec .img-Sec {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-sec .border-cont .border-div {
  border: 1px solid #cfcfcf;
  transform: rotateZ(180deg);
  min-width: 100px;
}
@media screen and (max-width: 400px) {
  .footer-sec .border-cont .border-div {
    min-width: 50px;
  }
}

.img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .img-main {
    display: none;
  }
}

.dashBoardSec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.dashBoardSec .header .tabCountries {
  display: flex;
  justify-content: space-between;
}

.imgSec {
  width: 150px;
  height: 80px;
}

.imgSec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .countryDatas {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid #3e3e3e;
}

.countryDetails {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin; 
  scrollbar-color: #888888 #F5F5F5; 
}
.countryDetails::-webkit-scrollbar {
  width: 8px;
}

.tabCountries {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
}

.tabCountries
.nav-link {
  color: #8b8b8b;
  font-family: "bold";

}
.tabCountries h5 {
  color: #3d3d3d;
  font-family: "bold";

}

.tabCountries .nav-link.active {
  border-bottom: 2px solid #3d3d3d;
  color: #3d3d3d;

}

.dashBoardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.dashBoardFooter h5 {
  color: #3d3d3d;
  font-family: "bold";
  font-size: 15px;

}
.img-SecDashboard{
  display: flex;
  gap: 20px;
}
.countryDatas .continent h6 {
  color: #3d3d3d;
  font-family: "bold";
}
.countryDatas .continent p {
  color: #6f6f6f;
  font-family: "Regular";
  font-weight: 400;
  font-size: 15px;
}
.toggler{
  display: none;
  position: relative;
}
.dropSec{
  position: absolute;
  right: 0px;
  width: 200px;
  padding: 20px;
  background-color: #b6b5b5;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}
.expand{
  height: 150px;

}
.dropSec ul li{
 line-height: 40px;
 list-style: none;
 position: relative;
 cursor: pointer;
}
.dropSec ul li::after{

content :"";
position: absolute;
height: 1px;
width: 100%;
background-color: rgb(223, 220, 220);
left: 0;
bottom: 0;
opacity: 50%;
}
.dropSec ul{
padding: 10px;
}
@media screen and (max-width: 768px) {
  .img-main,.nav {
      display: none;
  }
  .fieldSec .head h1{
      text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .toggler {
      display: block!important;
  }
}


@media screen and (max-width: 400px) {
  .footer-sec .border-cont .border-div {
      min-width: 50px;
  }
} */
